header {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#intro, a {
    color: #A53708;
    opacity: 1;
}

#header__statement {
    color: #044E1B;
    opacity: .8;
}

.header__description {
    font-size: 1.3rem;
}

.header__container {
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4rem;
    padding-bottom: 6rem;
}

/* ===== CTA ===== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: flex-start;
}

/* ===== Header Socials ===== */
.header__socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    width: 8rem;
}
.header__socials > a:hover {
    font-size: 1.8rem;
}

.header__socials::after{
    content: '';
    width: 2px;
    height: 6rem;
    background: #A53708;
}

.scroll__down__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
}
.scroll__down__container::after{
    content: '';
    width: 2px;
    height: 6rem;
    background: #A53708;

}
.scroll__down {
    transform: rotate(90deg);
    margin-bottom: 3rem;
    font-size: 1.3rem;
}
.scroll__down:hover {
    font-size: 1.4rem;
}


@media screen and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__container {
        text-align: left;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0rem;
        padding-bottom: 0rem;
    }
    .header__description {
        font-size: 1.2rem;
    }
    .scroll__down__container {
        display: none;
    }
    .header__socials {
        display: none;
    }
}
/* ======= MEDIA QUERIES (SMALL DEVICES ======== */
@media screen and (max-width: 600px) {
   #intro {
       font-size: 1.2rem;
   }
   .header__container > h1 {
       font-size: 1.8rem;
   }
   #header__statement {
       font-size: 1.8rem;
   }
   .header__container > P {
       font-size: 1rem;
   }
   .cta {
       font-size: .8rem;
   }
}